<div class="header-upper">
    <!-- BEGIN .wrapper -->
    <div class="wrapper">
        <ul class="left ot-menu-add" rel="Top Menu" app-widget-menu-top></ul>
        <ul class="right" app-widget-social></ul>
        <div class="clear-float"></div>
        <!-- END .wrapper -->
    </div>
</div>

<!-- BEGIN .wrapper -->
<div class="wrapper">

    <!-- BEGIN .header-content -->
    <div class="header-content">
        <div class="header-logo" app-widget-banner></div>
        <div class="header-banner" app-widget-ads="banner"></div>
        <!-- END .header-content -->
    </div>

    <!-- BEGIN #main-menu -->
    <nav id="main-menu" app-widget-menu-main></nav>

    <!-- END .wrapper -->
</div>
<!-- END .header -->