  <!-- BEGIN .with-sidebar-layout -->
  <div class="with-sidebar-layout left">

    <app-elm-playlist
      *ngFor="let playlist of playlists; let i = index"
      [playlist]="playlist" 
      [layout]="layouts[i]">
    </app-elm-playlist>

    <div class="content-panel" app-widget-ads="article"></div>

    <!-- END .with-sidebar-layout -->
  </div>

  <!-- BEGIN #sidebar -->
  <aside id="sidebar" class="right">
    <!-- BEGIN .widget -->
    <div class="widget" app-widget-playlist></div>

    <!-- BEGIN .widget -->
    <div class="widget" app-widget-ads="sidebar"></div>

    <!-- BEGIN .widget -->
    <div class="widget" app-widget-featured-videos></div>

    <!-- BEGIN .widget -->
    <div class="widget" app-widget-ads="sidebar"></div>

    <!-- END #sidebar -->
  </aside>