<div class="item-header">
    <a [routerLink]="['/video',item.id]"  class="video-thumb ">
        <img src="{{ item.thumbnails }}"
            width="16" height="9" class="aspect-px"
            alt="{{ item.title }}" />
    </a>
</div>
<div class="item-content">
    <h3><a [routerLink]="['/video',item.id]">{{ item.title }}</a></h3>
    <span class="video-meta">
        <a [routerLink]="['/video',item.id]"><i class="fa fa-comment"></i>{{ item.ratings }}</a>
        <a [routerLink]="['/video',item.id]"><i class="fa fa-eye"></i>{{ item.views }}</a>
        <a [routerLink]="['/video',item.id]"><i class="fa fa-heart"></i>{{ item.ratings }}</a>
    </span>
    <p *ngIf="showDesc">{{ item.description }}</p>
</div>
