<div class="search-head">
    <form action="http://videomag.orange-themes.com/html/browse.html">
        <input type="text" class="ot-search-field" value="" />
        <input type="button" class="ot-search-button" value="Search" />
    </form>
</div>
<ul class="top-menu ot-menu-add" rel="Main Menu">
    <li><a [routerLink]="['']">Homepage<i>With Slider/Dark</i></a></li>
    <li><a [routerLink]="['']">Creative Stuff<i>Most Creative Videos</i></a></li>
    <li><a [routerLink]="['']">Creative Stuff<i>Most Creative Videos</i></a></li>
    <li><a [routerLink]="['']">Contact Us<i>Meet Our Team</i></a></li>
</ul>
<!-- END #main-menu -->