<h3>Contact Us</h3>
<div class="htmlcode">
    <p>Inani vocent feugait cu eam, his et impetus indoctum, mea te euismod salutandi. Mel consequat moderatius
        intellegebat an.</p>
    <ul>
        <li><span class="small-text">Address</span>
            <h6>122 Baker Street, Marylebone<br />London, W1U 6TX</h6>
        </li>
        <li><span class="small-text">Phone number</span>
            <h6>0870 241 3300</h6>
        </li>
        <li><span class="small-text">E-mail address</span>
            <h6>support@theme.no</h6>
        </li>
    </ul>
</div>
<!-- END .widget -->